{{> partials/header}}

<body id="page-top">

    {{> partials/nav}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class = "console"> >_
                    <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "", "Welcome to my website!", "Please scroll down =)", "", "", ""]'></span>
                </h1>
                <!--<h1 id="homeHeading">Jake Tepper</h1>-->
                <!--<hr>-->
                <!--<p>Software Engineer</p>-->
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
            </div>
        </div>
    </header>

    <section class= "bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hi, I'm Jake.</h2>
                    <hr class="light">
                    <p class="text-faded"> Previously an automation programmer in the Audio Video Industry, I recently
                        made a major transition towards software engineering and joined The Iron Yard.
                        The Iron Yard is a 12-week coding bootcamp specializing in focused, immersive
                        training centered on language fluency, object-oriented programming with inheritance,
                        and project-based learning.
                    </p>
                    <p class="text-faded">
                        Ever since I have started learning Java, I have really enjoyed the freedom software development
                        has given me. I've been able to solve problems without the limitations of pre-built drivers and software.
                        I've found that my background has offered me an accelerated understanding on my journey so far.
                    </p>
                    <p class="text-faded">
                        When I'm not programming, I enjoy playing guitar, watersports, animals and art.
                    </p>

                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">View my passions</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Passions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code text-primary sr-icons" aria-hidden="true"></i>
                        <h3>Coding</h3>
                        <p class="text-muted"><a class="page-scroll" href="#skills">Java development</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-music text-primary sr-icons" aria-hidden="true"></i>
                        <h3>Guitar</h3>
                        <p class="text-muted">Accoustic, Classical, 12 String and Electric</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ship text-primary sr-icons"></i>
                        <h3>Water Sports</h3>
                        <p class="text-muted">Wakeboarding, Surfing, Boating, etc.  </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-meetup text-primary sr-icons"></i>
                        <h3>Meetups</h3>
                        <p class = "show" data-groups="Charlotte Java User Group, Charlotte Cloud Computing, Modern Devs Charlotte,
                        Charlotte Jr Devs, Charlotte Unity Game Developers, CharlotteJS, Charlotte Internet of Things,
                        Hackerspace Charlotte, Charlotte Virtual Reality Meetup, etc.">Click here to view my meetup groups</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paw text-primary sr-icons"></i>
                        <h3>Animals</h3>
                        <p class="text-muted"><a class="page-scroll" href="/dogs.html">Click here to view my dogs</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-eraser text-primary sr-icons"></i>
                        <h3>Art</h3>
                        <p class="text-muted">Acrylic Painting, Drawing etc.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-volume-up text-primary sr-icons"></i>
                        <h3>High End Audio</h3>
                        <p class="text-muted">Speakers, theater, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <aside class="bg-dark" id = "skills">
            <div class="call-to-action">
                <div class="titleText">
                    <h2>Skills:
                        <span class = "divider"></span>
                    </h2>
                </div>
            <p>
                <div class="titleText">
                    <h3>
                        <i class="fa fa-1x fa-cogs" aria-hidden="true"></i>
                        Development:
                    </h3>
                </div>
                <ul class="text-faded">
                    <li class = "floatli">Java </li>
                    <li class = "floatli">Spring Boot</li>
                    <li class = "floatli">Spring JPA</li>
                    <li class = "floatli">Hibernate</li>
                    <li class = "floatli">H2</li>
                    <li class = "floatli">Spark Java</li>
                    <li class = "floatli">Git and GitHub</li>
                    <li class = "floatli">RESTful APIs</li>
                    <li class = "floatli">Postgres</li>
                    <li class = "floatli">SQL</li>
                    <li class = "floatli">Heroku</li>
                    <li class = "floatli">Gradle</li>
                    <li class = "floatli">Maven</li>
                    <li class = "floatli">HTML</li>
                    <li class = "floatli">CSS</li>
                    <li class = "floatli">MVC Architecture</li>
                    <li class = "floatli">JavaFX (w/ SceneBuilder)</li>
                    <li class = "floatli">Terminal</li>
                    <li class = "floatli">Unify Network Control</li>
                    <li class = "floatli">PuTTY</li>
                </ul>
                <br><br>
            </p>
        </aside>
        <aside class="bg-dark" id = "skills">
            <div class="titleText">
                <h3>
                    <span class = "divider"></span>
                    <i class="fa fa-1x fa-codepen" aria-hidden="true"></i>
                    Projects:
                </h3>
                <ul class="text-faded">
                    <li><u>Purchase Tracker </u>- Developed web app that imports CSV database files with a Java Scanner,
                        generated a PostgreSQL server to merge tables, utilized JavaScript and CSS for data manipulation.</li>
                    <li><u>H2 File Server </u> -A file server with ability to store uploads on H2 server, thread them for
                        deletion after a user specified duration similar to snapchat.</li>
                    <li><u>Java Console ATM Machine</u> - Terminal based ATM Machine with user and account tracking.</li>
                    <li><u>Restaurant API</u> - An ordering API, tracking orders and bills using Heroku. Hosted for front
                        end team use on their web app.</li>
                    <li><u>Inventory Tracker</u> - keeps track of inventory using inheritance classes.</li>
                    <li><u>Microblog</u> - Blogging web app turned chartroom with search feature, session tracking and an
                        optional JSON API. Uses sessions to track users and messages.</li>
                    <li><u>Guitar Adoption</u>- Used SQL and Maven to create a guitar adoption web app which allowed users
                        to post guitars up for adoption and go back and assign them to registered users joining SQL tables.</li>
                    <li>Developed Raspberry Pi Spring Boot web server to control LED and relay board with full web or SSH Terminal UI.</li>
                    <li>Modified and loaded Arduino with bluetooth hosting software to allow for browser voice recognition relay control written in C.</li>
                </ul>
            </div>
            <div class="container text-center">
                <div class="call-to-action">
                    <h2><br><br>View all my projects:</h2>
                    <a href="https://github.com/ArcSoftware" class="btn btn-default btn-xl sr-button">View my GitHub!</a>
                </div>
            </div>
        </aside>
    </section>

    <!--<section class="no-padding" id="portfolio">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row no-gutter popup-gallery">-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/img/portfolio/fullsize/1.jpg" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--Category-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Project Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/img/portfolio/fullsize/2.jpg" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--Category-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Project Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/img/portfolio/fullsize/3.jpg" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--Category-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Project Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/img/portfolio/fullsize/4.jpg" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--Category-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Project Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/img/portfolio/fullsize/5.jpg" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--Category-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Project Name-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-sm-6">-->
                    <!--<a href="/soundboard.html" class="portfolio-box">-->
                        <!--<img src="/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">-->
                        <!--<div class="portfolio-box-caption">-->
                            <!--<div class="portfolio-box-caption-content">-->
                                <!--<div class="project-category text-faded">-->
                                    <!--SoundBoard-->
                                <!--</div>-->
                                <!--<div class="project-name">-->
                                    <!--Custom Soundboard!-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">You can find me here:</h2>
                    <hr class="primary">
                    <p>My info:</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>704-975-8353</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:jaketepper@gmail.com">jaketepper@gmail.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-github fa-3x sr-contact"></i>
                    <p><a href="https://github.com/ArcSoftware">GitHub</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-linkedin-square fa-3x sr-contact"></i>
                    <p><a href="https://www.linkedin.com/in/jaketepper/">LinkedIn</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-file-text-o fa-3x sr-contact"></i>
                    <p><a href="https://docs.google.com/document/d/1oTC2Ha_G-psZGV3YZ_qSzcYjAP8_TZjwP_8GrWoWeH0/edit?usp=sharing">My Resume</a></p>
                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>

</body>

</html>
