{{> partials/header}}

<body id="page-top">

    {{> partials/nav}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Jake Tepper</h1>
                <hr>
                <p>Software Engineer</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class= "bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hey, I'm Jake.</h2>
                    <hr class="light">
                    <p class="text-faded"> Previously an automation programmer in the Audio Video Industry, I recently
                        made a major transition towards software engineering and joined The Iron Yard.
                        The Iron Yard is a 12-week coding bootcamp specializing in focused, immersive
                        training centered on language fluency, object-oriented programming with inheritance,
                        and project-based learning.


                    </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">View my passions</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Passions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Coding</h3>
                        <p class="text-muted">Java development</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Guitar</h3>
                        <p class="text-muted">Accoustic, Classical, 12 String and Electric</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Water Sports</h3>
                        <p class="text-muted">Wakeboarding. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Meetups</h3>
                        <p class="text-muted">Meetups I like..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark" id = "skills">
        <div class="call-to-action">
            <div class="titleText">
                <h2>Skills:
                    <span class = "divider"></span>
                </h2>
            </div>
            <p>
            <ul class="text-faded">
                <li>Java </li>
                <li>Spring Boot</li>
                <li>Spring JPA</li>
                <li>Hibernate</li>
                <li>H2</li>
                <li>Spark Java</li>
                <li>Git and GitHub</li>
                <li>RESTful APIs</li>
                <li>Postgres</li>
                <li>SQL</li>
                <li>Heroku</li>
                <li>Gradle</li>
                <li>Maven</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>MVC Architecture</li>
                <li>JavaFX (w/ SceneBuilder)</li>
                <li>Terminal</li>
                <li>Unify Network Control</li>
                <li>PuTTY</li>
            </ul>
            <br><br>

            </p>
        </div>


        <div class="container text-center">
            <div class="call-to-action">
                <h2><br><br>View my projects:</h2>
                <a href="https://github.com/ArcSoftware" class="btn btn-default btn-xl sr-button">View my GitHub!</a>
            </div>
        </div>
    </aside>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">You can find me here:</h2>
                    <hr class="primary">
                    <p>My info:</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>704-975-8353</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:jaketepper@gmail.com">jaketepper@gmail.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="/img/github-256.png">
                    <p><a href="https://github.com/ArcSoftware">GitHub</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="/img/images-2.png">
                    <p><a href="https://www.linkedin.com/in/jaketepper/">LinkedIn</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="https://docs.google.com/a/theironyard.com/document/d/1bc7SxpStiZUXCU03BoVZ0XolAjZ1lobkX_uzHysJ7PQ/edit?usp=sharing">My Resume</a></p>
                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>

</body>

</html>
