{{> partials/header}}

<body id="page-top">

    {{> partials/nav}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class = "console"> >_
                    <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "", "Welcome to my website!", "Please scroll down =)", "", "", ""]'></span>
                </h1>
                <!--<h1 id="homeHeading">Jake Tepper</h1>-->
                <!--<hr>-->
                <!--<p>Software Engineer</p>-->
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
            </div>
        </div>
    </header>

    <section class= "bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hi, I'm Jake.</h2>
                    <hr class="light">
                    <p class="text-faded"> Previously an automation programmer in the Audio Video Industry, I recently
                        made a major transition towards software engineering and joined The Iron Yard.
                        The Iron Yard is a 12-week coding bootcamp specializing in focused, immersive
                        training centered on language fluency, object-oriented programming with inheritance,
                        and project-based learning.
                    </p>
                    <p class="text-faded">
                        Ever since I have started learning Java, I have really enjoyed the freedom software development
                        has given me. I've been able to solve problems without the limitations of pre-built drivers and software.
                        I've found that my background has offered me an accelerated understanding on my journey so far.
                    </p>
                    <p class="text-faded">
                        When I'm not programming, I enjoy playing guitar, watersports, animals and art.
                    </p>

                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">View my passions</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Passions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code text-primary sr-icons" aria-hidden="true"></i>
                        <h3>Coding</h3>
                        <p class="text-muted"><a class="page-scroll" href="#skills">Java development</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-music text-primary sr-icons" aria-hidden="true"></i>
                        <h3>Guitar</h3>
                        <p class="text-muted">Accoustic, Classical, 12 String and Electric</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ship text-primary sr-icons"></i>
                        <h3>Water Sports</h3>
                        <p class="text-muted">Wakeboarding, Surfing, Boating, etc.  </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-meetup text-primary sr-icons"></i>
                        <h3>Meetups</h3>
                        <p class = "show" data-groups="Charlotte Java User Group, Charlotte Cloud Computing, Modern Devs Charlotte,
                        Charlotte Jr Devs, Charlotte Unity Game Developers, CharlotteJS, Charlotte Internet of Things,
                        Hackerspace Charlotte, Charlotte Virtual Reality Meetup, etc.">Click here to view my meetup groups</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paw text-primary sr-icons"></i>
                        <h3>Animals</h3>
                        <p class="text-muted"><a class="page-scroll" href="/album">Click here to view my dogs</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-eraser text-primary sr-icons"></i>
                        <h3>Art</h3>
                        <p class="dtext-muted">Acrylic Painting, Drawing etc.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-volume-up text-primary sr-icons"></i>
                        <h3>High End Audio</h3>
                        <p class="text-muted">Speakers, theater, etc.</p>
                        <p class = "show" data-groups="Bowers and Wilkins, JL Audio, Arial, Wilson, Classe, Rotel, Anthem,
                            Peach Tree">My favorite brands</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <aside class="bg-dark" id = "skills">
            <div class="call-to-action">
                <div class="titleText">
                    <h2>Skills:
                        <span class = "divider"></span>
                    </h2>
                </div>
            </div>

            <p>
                <div class="titleText">
                    <h3>
                        <i class="fa fa-1x fa-cogs" aria-hidden="true"></i>
                        Development:
                    </h3>
                </div>
                <ul class="text-faded">
                    <li class = "floatli">Java </li>
                    <li class = "floatli">Spring Boot</li>
                    <li class = "floatli">Spring JPA</li>
                    <li class = "floatli">Hibernate</li>
                    <li class = "floatli">H2</li>
                    <li class = "floatli">Spark Java</li>
                    <li class = "floatli">Git and GitHub</li>
                    <li class = "floatli">RESTful APIs</li>
                    <li class = "floatli">Postgres</li>
                    <li class = "floatli">SQL</li>
                    <li class = "floatli">Heroku</li>
                    <li class = "floatli">Gradle</li>
                    <li class = "floatli">Maven</li>
                    <li class = "floatli">HTML</li>
                    <li class = "floatli">CSS</li>
                    <li class = "floatli">MVC Architecture</li>
                    <li class = "floatli">JavaFX (w/ SceneBuilder)</li>
                    <li class = "floatli">Terminal</li>
                    <li class = "floatli">Unify Network Control</li>
                    <li class = "floatli">PuTTY</li>
                </ul>
                <br><br>
            </p>
        </aside>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">You can find me here:</h2>
                    <hr class="primary">
                    <p>My info:</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>704-975-8353</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:jaketepper@gmail.com">jaketepper@gmail.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-github fa-3x sr-contact"></i>
                    <p><a href="https://github.com/ArcSoftware">GitHub</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-linkedin-square fa-3x sr-contact"></i>
                    <p><a href="https://www.linkedin.com/in/jaketepper/">LinkedIn</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-file-text-o fa-3x sr-contact"></i>
                    <p><a href="https://docs.google.com/document/d/1oTC2Ha_G-psZGV3YZ_qSzcYjAP8_TZjwP_8GrWoWeH0/edit?usp=sharing">My Resume</a></p>
                </div>

            </div>
        </div>
    </section>
    {{> partials/footer}}
</body>

</html>
